

.reset-page {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  padding: 20px;
  
}

.reset-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
  transition: all 0.3s ease;
  height: fit-content;
  margin-top: 100px;
}

.reset-card h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #22333c;
}

.reset-card .subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 25px;
}

.reset-card label {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  display: block;
  margin: 15px 0 5px;
  color: #333;
}

.reset-card input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  transition: border 0.2s;
}
.reset-card input:focus {
  border-color: #22333c;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 14px 40px 14px 14px; /* leave space for eye */
  border: none;
  background: #f4f4f4;
  border-radius: 6px;
  font-size: 15px;
  box-sizing: border-box;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle-eye svg {
  width: 22px;
  height: 22px;
  fill: black;
}


#strength-bar {
  width: 100%;
  height: 6px;
  background: #eee;
  border-radius: 4px;
  margin-top: 6px;
}
#strength-bar span {
  display: block;
  height: 100%;
  width: 0%;
  border-radius: 4px;
  transition: width 0.3s ease, background 0.3s ease;
}
#strength-message {
  font-size: 13px;
  margin-top: 4px;
  color: #666;
  text-align: left !important;
  display: block;
  width: 100%;
}


.button-wrapper {
  margin-top: 25px;
}

@media (max-width: 500px) {
  .reset-card {
    padding: 25px 20px;
    border-radius: 15px;
  }
  .reset-card h1 {
    font-size: 22px;
  }
  .reset-card .subtitle {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .reset-card {
    padding: 30px 15px;
    border-radius: 15px;
    width: 70vw;
    
  }
  .reset-card h1 {
    font-size: 22px;
  }
  .reset-card .subtitle {
    font-size: 13px;
   
  }


  #reset-btn{
    width: 240px !important;
  }

  #reset-email{
    width: 80%;
  }
}

@media (max-width: 375px) {
  .reset-card {
    padding: 25px 20px;
    border-radius: 15px;
  }
  .reset-card h1 {
    font-size: 22px;
  }
  .reset-card .subtitle {
    font-size: 13px;
  }

  #reset-btn{
    width: 210px !important;
  }
}

@media (max-width: 320px) {
  .reset-card {
    padding: 30px 20px;
    border-radius: 15px;
  }
  .reset-card h1 {
    font-size: 22px;
  }
  .reset-card .subtitle {
    font-size: 13px;
  }

  #reset-btn{
    width: 180px !important;
  }
}

